---
# Backup locations to update
backup_locations_update:
  - name: "s3-bl"
    uid: "s3-bl-uid"
    location_type: "S3"
    path: "s3-bl-path/bucket"
    cloud_credential_ref:
      cloud_credential_name: "s3-cloud-cred-name"
      cloud_credential_uid: "s3-cloud-cred-uid"
    validate_cloud_credential: true
    object_lock_enabled: false
    s3_config:
      region: "us-east-1"
      endpoint: "s3.amazonaws.com"
      disable_ssl: false
      disable_path_style: false
      storage_class: "STANDARD"
      sse_type: "SSE_S3"
    labels:
      environment: "production"
      team: "devops"
    ownership:
      owner: "admin"
      groups:
        - id: "devops-team"
          access: "Write"
        - id: "monitoring-team"
          access: "Read"
      collaborators:
        - id: "external-auditor"
          access: "Read"


  # NFS Configuration
  - name: "nfs-bl"
    uid: "nfs-bl-uid"
    location_type: "NFS"
    path: "/mnt/nfs-share"
    encryption_key: "{{ encryption_key }}"
    validate_cloud_credential: true
    object_lock_enabled: "{{ object_lock }}"
    nfs_config:
      server_addr: "nfs-pxbkp.pwx.dev.purestorage.com"
      sub_path: "/tests-ansible"
      mount_option: "rw,sync"


 # GCP Configuration  
  - name: "gcp-bl"
    uid: "gcp-bl-uid"
    location_type: "Google"
    path: "my-gcp-backup-bucket"
    cloud_credential_ref: 
      cloud_credential_name: "gcp-cred-name" 
      cloud_credential_uid: "gcp-cred-uid"
    encryption_key: "{{ encryption_key }}"
    validate_cloud_credential: true
    object_lock_enabled: "{{ object_lock }}"
    google_config:
      project_id: "portworx-eng"
      json_key: |
        {
          "type": "service_account",
          "project_id": "my-project-id",
          "private_key_id": "abcd1234...",
          "private_key": "-----BEGIN PRIVATE KEY-----\nYourPrivateKey\n-----END PRIVATE KEY-----\n",
          "client_email": "service-account@project.iam.gserviceaccount.com",
          "client_id": "123456789",
          "auth_uri": "https://accounts.google.com/o/oauth2/auth",
          "token_uri": "https://oauth2.googleapis.com/token",
          "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
          "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/service-account%40project.iam.gserviceaccount.com"
        }


#   # # Azure Configuration
  - name: "azure-bl"
    uid: "azure-bl-uid"
    location_type: "Azure"
    path: "my-azure-container"
    cloud_credential_ref:
      cloud_credential_name: "azure"
      cloud_credential_uid: "azure-cred-uid"
    encryption_key: "{{ encryption_key }}"
    validate_cloud_credential: true
    object_lock_enabled: "{{ object_lock }}"
    azure_config:
      account_name: "mystorageaccount"
      account_key: "your-azure-storage-account-key"
      client_secret: "your-azure-client-secret"
      client_id: "your-azure-client-id"
      tenant_id: "your-azure-tenant-id"
      subscription_id: "your-azure-subscription-id"
      azure_environment: "AZURE_GLOBAL"


# Global update configuration
backup_configs: true