---
# Define restores list
restores:
  # Example restore 1: Application restore
  - name: "restore-from-rancher-to-rancher-ansible"
    backup_ref:
      name: "rancher-backup"
    cluster_ref:
      name: "destination-rancher"
    # namespace_mapping: 
    #   "pvcsix": "pvcsix11178"
    replace_policy: "Retain"
    rancher_project_mapping:
      key: "c-m-b9x5wwqs:p-knzw9"
      value: "c-m-b9x5wwqs:p-knzw9"
    rancher_project_name_mapping:
      key: ""
      value: ""
    # storage_class_mapping:
    #   "px-db": "px-db"