---
# Backup schedules to update

backup_schedules_update:
  # List of backup schedules to update
  - name: "test-g"
    suspend: false
    cluster_ref:
      name: "self-cluster"
    pre_exec_rule_ref:
      name: "pre-rule"
    post_exec_rule_ref:
      name: "post-rule"
    schedule_policy_ref:
      name: "15min-retain3-incr2"
    backup_location_ref:
      name: "minio"
    labels:
      key: value
    remark: "Adding remark via Ansible"
  # OR Bulk update schedules
  - backup_object_type:
      type: "All"  # Can be "All" or "VM" or "NS"
    policy_ref:
      - name: "policy-1"
      - name: "policy-2"
    cluster_scope:
      all_clusters: true
    include_filter: "*"
    exclude_objects:
      - name: "sched-bkp-2"

# Global update configuration
backup_configs: true