# ansible-collection/inventory/group_vars/backup/update_backup_share.yaml
---
backup_share_updates:
  - name: "sample-bk-name-1"
    uid: "1ef1a268-bec6-4dd5-be63-9e8b4173dffa"
    backup_share:
      groups:
        - id: "test-grp-0"
          access: "View"  # Use one of: Invalid, View, Restorable, FullAccess
        # - id: "group2"
        #   access: "FullAccess"
      collaborators:
        - id: "95d5fd0d-2b95-4bfc-b4dd-11808c547b84"
          access: "View"
        # - id: "user2@example.com"
        #   access: "View"

  # - name: "staging-backup"
  #   uid: "backup-456"
  #   collaborators:
  #     - "dev1@example.com"
  #   groups:
  #     - "dev-team"
  #   access_type: "FullAccess"  # Maps to enum value 2
  #   validate_certs: true