
---
# Define roles list
roles:
  # Example role 1
  # - name: "test-role-1"
  #   validate_certs: true
  #   labels:
  #     role-label: "test-label"
  #   rules:
  #     - services: ['cloudcredential']
  #       apis: ['inspect*', 'enumerate*']
  #     - services: ['schedulepolicy']
  #       apis: ['inspect*', 'enumerate*']
  #     - services: ['backuplocation']
  #       apis: ['inspect*', 'enumerate*']
  #     - services: ['rules']
  #       apis: ['inspect*', 'enumerate*']
  #     - services: ['role']
  #       apis: ['inspect*', 'enumerate*']

  # # Example role 2
  # - name: "test-role-2"
  #   validate_certs: true
  #   rules:
  #     - services: ['role']
  #       apis: ['inspect*', 'enumerate*']

  # Example role 3
  - name: "test-role-10"
    rules:
      - apis: ["inspect*", "enumerate*"]
        services: ["cloudcredential"]
      - apis: ["inspect*", "enumerate*"]
        services: ["schedulepolicy"]
      - apis: ["inspect*", "enumerate*"]
        services: ["backuplocation"]
      - apis: ["*"]
        services: ["rules"]
      - apis: ["inspect*", "enumerate*"]
        services: ["role"]